@use "../abstracts/" as *;

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: var(--clr-neutral-background);
	overflow-x: hidden;
}

a {
	display: inline-block;

	&:focus {
		outline: none;
	}
}

button:focus,
summary:focus {
	outline: none;
	box-shadow: 0 0 0 0.2rem var(--brand);
}

pre:focus {
	outline: none;
}
