.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  .label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: var(--fs-200);
  }
  .input {
    border: 0.1rem solid var(--clr-neutral-700);
    border-radius: var(--br-sm);
    padding: 0.25rem 0.75rem;

    &:focus {
      outline-color: var(--clr-primary-main);
    }
  }
}
